#root {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: min-content;
  background-color: #2b2f4a;
  border-radius: 20px;
  margin: 1rem;
}

.container {
  border-radius: 20px;
  margin: 1rem;
}

.main {
  background-color: #FFF;
  border-radius: 20px;
  margin-bottom: 12px;
}