 @import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');

* {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
}

body {
  margin: 0;
  background-color: #dce0e9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}